@charset "UTF-8";

.container {
	display: flex;
	margin-top: 50px;
	margin-left: 10%;
	margin-right: 10%;
}

.grid_item {
	text-align: center;
	width: 80%;
}

.table {
	display: inline-block;
}

.grid_item.index {
	text-align: center;
	width: 20%;
	background-color: silver;
}

#f {
	padding-left: 20%;
	text-align: left;
}

